{% extends 'base.html' %}
{% load static %}

{% block more_css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/media.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<body id="hero">
    <section>
        <h4>Trade-in-offer</h4>
        <h2>This season's</h2>
        <h1>Freshest finds</h1>
        <p>Save more with coupons & up to 70% off!</p>
        <button>Shop Now</button>
    </section>
    <script src="{% static 'js/script.js' %}"></script>
</body>
{% endblock %}