{% extends 'base.html' %}
{% load static %}

{% block more_css %}
    <link href="{% static 'css/product_view.css' %}" rel="stylesheet">
{% endblock %}

{% block main_content %}
<div class="container">
    <h1>Catalog</h1>
    <div class="grid-container">
        {% for item in products %}
            <div class="grid-item">
                <h1>{{item.sku}}</h1>
                <p>{{ item.product_name }}</p>
                <img src="{{item.image.url}}" alt="" srcset="">
            </div>
        {% empty %}
            <h4>No shoes yet</h4>
        {% endfor %}
    </div>
</div>
{% endblock %}