{% extends 'base.html' %}
{% load static %}

{% block title %}
Products
{% endblock %}

{% block more_css %}
    <link href="{% static 'css/product_view.css' %}" rel="stylesheet">
{% endblock %}

{% block main_content %}
    <div class="container product_add">
        <h2>View Products</h2>

        <div class="grid-container">
            {% for item in products %}
                <a href="{% url 'detail' item.sku %}">
                    <div class="grid-item">
                            <h1>{{item.sku}}</h1>
                            <p>{{ item.product_name }}</p>
                            <img src="{{item.image.url}}" alt="" srcset="">
                            <form action="{% url 'delete' item.sku %}" method="POST">
                                {% csrf_token %}
                                <button style="border: none;"><i class="bi bi-trash3-fill" style="font-size: 2rem;"></i></button>
                            </form>
                    </div>
                </a>
            {% empty %}
                <h4>No shoes yet</h4>
            {% endfor %}
        </div>
    </div>
{% endblock %}